@font-face {
  font-family: "kccganpan";
  src: url(./fonts/KCC-Ganpan.ttf);
}

* {
  font-family: "kccganpan";
}

html,
body {
  margin: 0;
}

a {
  color: rgb(0, 100, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
